/* colors:
  #756867;
  #D5D6D2;
  #353C3F;
  #FF8D3F;
 */
body {
  background-color: #D5D6D2;
  color: #353C3F;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
.main_con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-around;
  width: 100vw;
  height: 110px;
}
.nav_box {
  height: 110px;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.nav_box:hover {
  background-color: #FF8D3F;
  transition: 0.4s;
  color: white;
}
.log_sz {
  height: 110px;
  widows: 110px;
  position: fixed;
}
section {
  width: 60vw;
  margin-top: 100px;
  
}
.box_color:hover {
  background-color: white;
}
