/* colors:
  #756867;
  #D5D6D2;
  #353C3F;
  #FF8D3F;
 */
body {
  background-color: #D5D6D2;
  color: #353C3F;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
.main_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.mob_nav {
  display: none;
}
nav {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100px;
  overflow: hidden;
  border: solid 1px;
}
.nav_box {
  height: 100px;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.nav_box:hover {
  background-color: #FF8D3F;
  transition: 0.4s;
  color: white;
}
.log_sz {
  width: 100px;
  transition: 0.5s;
}
section {
  width: 100vw;
  margin-top: 100px;
  z-index: 5;
}
.white {
  background-color: white;
}
.white:hover {
  background-color: white;
}
.background {
  position: fixed;
  top: 0px;
  z-index: 0;
  width: 2560px;
}
.art_1 {
  z-index: 5;
  height: 100vh;
  width: 100vw;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.art_2 {
  z-index: 5;
  height:40vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.mobile {
  display: none;
}
.art_text {
  color: white;
  width: 50vw;
  text-align: center;
}
.art_3 {
  z-index: 5;
  height: 60vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_box_mob {
  display: none;
}
.panel1 {
  position: fixed;
  width: 40px;
  left: 50vw;
  border: solid 1px black;
}
.tja {
  width: 10vw;
  height: 10vw;
}
.con_button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}
.con_button:hover {
  background-color: rgba(255, 123, 0, 0.5);
  transition: 0.3s;
}
.text {
  font-size: 2em;
  font-weight: bold;
}
.hideme {
opacity:0;
}

.art_boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.art_img {
  width: 40vw;
  height: 60vh;
  background-color: white;
  opacity: 0.5;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.info {
  border: 2px solid white;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.inf_box {
  display: flex;
  flex-direction: row;
}
.us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_text {
  color: white;
}
.round {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  background-color: white;
}
.about_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85vw;
}
.ico_box {
  width: 40vw;
  text-align: center;
}
.about_box p {
  color: white;
  text-align: center;
}
.text_box {
  width: 40vw;
}
.imgboy {
  width: 45vw;
  height: 45vh;
  background-color: white;
  opacity: 0.5;
}
.ico_box {
  height: 45px;
}
.ico_opc {
  opacity: 0.6;
  height: 45px;
  width: 45px;
}
.art_4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.con_row {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tru_inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
}
.contact_ico {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 15vw;
}
.contact_ico p {
  line-height: 0;
}
.inv {
  filter: invert(100);
  margin: 5px;
}
.con_box {
  height:40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 0.2;
}
.line {
  width: 1px;
  background-color: white;
}
@media only screen and (max-width: 425px) {
  .background {
    position: fixed;
    top: -400px;
    z-index: 0;
    width: 3840px;
  }
  .tru_inf {
    display: flex;
    flex-direction: column;
  }
  .contact_ico {
    width: 60vw;
  }
  .about_box {
    display: none;
  }
  .about_box_mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100vw;
  }
  .text_box {
    width: 90vw;
  }
  .ico_opc {
    opacity: 0.6;
    height: 45px;
    width: 45px;
  }
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  .art_2 {
    display: none;
  }
  .mob_nav {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 0;
  }
  #ico_3 {
    font-size: 3em;
    transition: 0.5s;
  }
  .mobile_here {
    height: 35px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.3s;
  }
  .mobile_here:active {
    background-color: #FF8D3F;
    color: white;
    transition: 0.3s;
  }
  .icon_mob {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .art_3 {
    z-index: 5;
    height: 700px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  .art_4 {
    height: 500px;
  }
  .about_box p {
    color: white;
    width: 100vw;
    text-align: center;
  }
  .con_button:hover {
    background-color: inherit;
  }
  .con_button:active {
    background-color: rgba(255, 123, 0, 0.5);
    transition: 0.3s;
  }
}
@media only screen and (min-width: 2560px) {
  .background {
    width: 100vw;
  }
  nav {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 200px;
    overflow: hidden;
  }
  .nav_box {
    height: 200px;
  }
  h3 {
    font-size: 3.5em;
  }
  .button {
    width: 15vw;
  }
  p {
    font-size: 2em;
  }
  .ico_opc {
    opacity: 0.6;
    height: 150px;
    width: 150px;
  }
  .ico_box {
    height: 150px;
  }
}